<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">	
	<link rel="stylesheet" type="text/css" media="screen" href="v/style.css"/> 
</head>

<body>
<header>
  <h1>{{ title }}</h1>
</header>