<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/templates/style.css" />
</head>

<body>
  <div id="main">
    <div class="post_title">
      <h2>{{ title }} : просмотр фотографии</h2>
    </div>
    <div class="gallery">
      <img src="{{ photo_big }}/{{ photo }}" width="800px">
      <a class="back_button" href="./">Назад в галерею</a>
    </div>
  </div>

</body>

</html>